:root {
  --font-satoshi: "Satoshi";
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

