---
import { Button } from 'astro-pure/user'

type Props = {
  skills: string[]
}

const { skills } = Astro.props
---

<div class='flex flex-row flex-wrap gap-x-4 gap-y-2'>
  {skills.map((skill: string) => <Button as='button' title={skill} variant='pill' />)}
</div>
