---
import type { MarkdownHeading } from 'astro'

import PageLayout from '@/layouts/CommonPage.astro'

const headings: MarkdownHeading[] = []
---

<PageLayout title='Projects' {headings} view>
  <p>暂无项目，后续再更新。</p>
</PageLayout>
